.widthFull{width: 100%;}
.width20{width:2em;}
.width30{width:3em;}
.width40{width:4em;}
.width50{width:5em;}
.width80{width:8em;}
.width100{width: 10em;}
.width120{width: 12em;}
.width150{width: 15em;}
.width200{width: 20em;}
.width300{width: 30em;}
.width400{width: 40em;}
.width500{width: 50em;}
.width550{width: 55em;}
.width700{width: 70em;}
.maxWidth100{max-width: 10em;}
.maxWidth150{max-width: 15em;}
.maxWidth170{max-width: 17em;}
.maxWidth200{max-width: 20em;}
.maxWidth300{max-width: 30em;}
.maxWidth400{max-width: 40em;}
.maxWidth500{max-width: 50em;}
.maxWidth700{max-width: 70em;}
.maxWidth800{max-width: 80em;}
.maxWidth1000{max-width: 100em;}
.minWidth100{min-width: 10em;}
.minWidth200{min-width: 20em;}
.minWidth300{min-width: 30em;}
.minWidth400{min-width: 40em;}
.heightFull{height: 100%;}
.height20{height: 2em;}
.height30{height: 3em;}
.height40{height: 4em;}
.height50{height: 5em;}
.height80{height: 8em;}
.height100{height: 10em;}
.height110{height: 11em;}
.height150{height: 15em;}
.height200{height: 20em;}
.height280{height: 28em;}
.height300{height: 30em;}
.height500{height: 50em;}
.minHeight500{min-height: 50em;}
.maxHeight200{max-height: 20em;}
.margin10{margin: 1em;}
.margin20{margin: 2em;}
.margin30{margin: 3em;}
.margin-left50{margin-left: 5em;}
.margin-left20{margin-left: 2em;}
.margin-left10{margin-left: 1em;}
.margin-right20{margin-right: 2em;}
.margin-right10{margin-right: 1em;}
.margin-top10{margin-top: 1em;}
.margin-top50{margin-top: 5em;}
.margin-bottom20{margin-bottom:2em;}
.listNoneStyle{list-style: none;}
.size26{font-size: 2em;}
.size12{font-size: 1em;}
.size14{font-size: 1em;}
.size16{font-size: 1em;}
.borderRadius50{border-radius:50%;}
.paddingNone{padding:0;}
.padding20{padding: 2em;}
.toCenter{margin: 0 auto;}
.center{text-align: center;}
.pointer{cursor: pointer;}
.size40{font-size: 4em;}
.size30{font-size: 3em;}
.size20{font-size: 2em;}
.size22{font-size: 2em;}
.size12{font-size: 1em;}
.bold{font-weight: bold;}
.bold500{font-weight: 500;}
.imgBorder{box-shadow:0.2em 0.2em 0.5em black;width:20em;height:20em;margin: 1em;}
.shadow{box-shadow:0.3em 0.3em 0.3em black;}
.backArrow{font-size: 1.05em;font-weight: 300;}
.inputLabel{border-left: solid red;padding-left: 0.5em;line-height: 1.6em;}
.textGrey{color: grey;}
.textBlack{color: black;}
body{font-size: 62.5%;}